header {
  border-bottom: 1px #eaeaea solid;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
}

.project {
  padding: 0 10px 0 10px;
  max-width: 500px;
}

.project h2 {
  color: orange;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-style: italic;
}

.project p {
  color: #eaeaea;
  padding: 0 10px 10px 10px;
  text-align: left;
}

.btn {
  background-color: #333;
  border: 1px solid #eaeaea;
  color: #eaeaea;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  width: 100px;
}

.btn:hover {
  background-color: #eaeaea;
  color: orange;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
