body {
  font: 9px/1.5 Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 3px;
  padding-right: 5px;
}

img {
  display: block;
  margin: auto;
}

p {
  text-align: center;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 0;
  margin: 0;
  line-height: 18px;
}
