/* debug toggle - add/remove slash at end -> *
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
/* */

/* Core styles */

/* In master.css */

/* Navbar */

/* Showcase */

#showcase {
  min-height: 35vh;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url('https://images.pexels.com/photos/248515/pexels-photo-248515.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
  z-index: -1;
  opacity: 0.4;
}

#showcase h2 {
  padding-top: 100px;
  padding-bottom: 0;
  color: #eaeaea;
  font-size: 25px;
  text-shadow: 2px 2px #333;
}

#showcase p {
  padding-bottom: 0;
  color: #eaeaea;
  font-size: 15px;
}

/* Main */

#box {
  background: #eaeaea;
  padding: 20px;
  border-bottom: 1px #333 solid;
}

#box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 35vh;
  padding-top: 10px;
}

#box h3, #box p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#box:hover, #box:hover h3, #box:hover p {
  color: orange;
}

/* Footer */

footer {
  background: #333;
  text-align: center;
  height: 80px;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
  height: 80px;
  padding: 0;
}

/* Media Queries */

@media(min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #eaeaea;
  }
  #box {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #box img {
    width: 20vw;
    height: 25vh;
  }
}
